<div class="login-form-wrapper">
  <label for="username">
    Username
    <input type="text" [(ngModel)]="userForm.username" id="username" name="username" />
  </label>
  <br>
  <label for="password">
    Password
    <input type="password" [(ngModel)]="userForm.password" id="password" name="password" />
  </label>
  <br>
  <button (click)="login()">Login</button>
  <div>or</div>
  <a [routerLink]="['/register']">
    Register
  </a>
</div>
<div class="error-message">
  {{ error$ | async }}
</div>
